In [26]:
import pandas as pd
import numpy as np

data = pd.read_csv(r"D:\Titanic\train.csv")
test = pd.read_csv(r"D:\Titanic\test.csv")
# data.head()

def clean(data):
    data = data.drop(['Ticket', 'Cabin', 'Name', 'PassengerId'], axis = 1)
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True) 
    data.Embarked.fillna('U', inplace=True)
    return data

data = clean(data) 
test = clean(test)

data.head()

C:\Users\BIT\AppData\Local\Temp\ipykernel_8388\2673478953.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)
C:\Users\BIT\AppData\Local\Temp\ipykernel_8388\2673478953.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Embarked.fillna('U', inplace=True)
C:\Users\BIT\AppData\Local\Temp\ipykernel_8388\2673478953.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)
C:\Users\BIT\AppData\Local\Temp\ipykernel_8388\2673478953.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Embarked.fillna('U', inplace=True)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [27]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

cols = ['Sex', 'Embarked']

for col in cols:
    data[col] = le.fit_transform(data[col]) 
    test[col] = le.transform(test[col])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S' 'U']

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data['Survived']
x = data.drop('Survived', axis=1)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

model = LogisticRegression(solver = 'liblinear')
model.fit(x_train, y_train)
pred = model.predict(x_test)
print(model.score(x_test, y_test))

0.8268156424581006

In [35]:
import os
os.getcwd()

'C:\\Users\\BIT'